<section class="hero shadow-sm">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-2 align-self-start">
        <img class="img-fluid" src="./assets/images/hero-image-left.svg" alt="Hero Image Left" />
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="hero-description">
          <span class="txt-primary mb-3">About us</span>
          <h1 class="mb-5">A digital platform for a sustainable remote workforce.</h1>
          <h5>We aim to upskill diverse talent by providing access to lifelong career opportunities.</h5>
        </div>
      </div>
      <div class="col-lg-2 align-self-start">
        <img src="./assets/images/hero-image-right.svg" alt="Hero Image Right" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3">
        <div class="hero-card">
          <img src="./assets/images/subtract.svg" alt="calenda" class="img-fluid" />
          <p class="txt-lg">2007</p>
          <small>Year founded</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="hero-card">
          <img src="./assets/images/union.svg" alt="union" class="img-fluid" />
          <p class="txt-lg">50+</p>
          <small>Employees</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="hero-card">
          <img src="./assets/images/globe.svg" alt="globe" class="img-fluid" />
          <p class="txt-lg">9+</p>
          <small>Nationalities</small>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="hero-card">
          <img src="./assets/images/client.svg" alt="clients" class="img-fluid" />
          <p class="txt-lg">1000+</p>
          <small>Clients serviced</small>
        </div>
      </div>
    </div>
  </div>
</section>