section {
  padding: 7rem 5rem;
}

.hero-image {
  margin-top: 3rem;
}

.hero-description {
  margin-top: 7rem;
  text-align: center;
}

.hero-description span {
  font-weight: 700;
  font-size: 24px;
}

.hero-description h1 {
  font-weight: 700;
  font-size: 56px;
}

.hero-card {
  text-align: center;
  margin-top: 2rem;
}

.hero-card p {
  margin: 1rem 0 0 0;
}

.hero-card small {
  color: #4D4D4D;
  font-weight: 500;
  font-size: 18px;
}

.card .img-wrapper {
  padding: .5rem;
}

.card .img-wrapper img {
  border-radius: 50%;
  width: 200px;
  height: 195px;
}