<section class="shadow-sm">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-lg-2 align-self-start">
        <img class="img-fluid hero-image" src="./assets/images/hero-image-left.svg" alt="Hero Image Left" />
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="hero-description">
          <span class="txt-primary">About us</span>
          <h1 class="mb-5 mt-4">A digital platform for a sustainable remote workforce.</h1>
          <h5>We aim to upskill diverse talent by providing access to lifelong career opportunities.</h5>
        </div>
      </div>
      <div class="col-lg-2 align-self-start">
        <img src="./assets/images/hero-image-right.svg" alt="Hero Image Right" class="img-fluid hero-image" />
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-lg-2">
        <div class="hero-card">
          <img src="./assets/images/subtract.svg" alt="calenda" class="img-fluid" />
          <p class="txt-lg">2007</p>
          <small class="txt-light">Year founded</small>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="hero-card">
          <img src="./assets/images/union.svg" alt="union" class="img-fluid" />
          <p class="txt-lg">50+</p>
          <small class="txt-light">Employees</small>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="hero-card">
          <img src="./assets/images/globe.svg" alt="globe" class="img-fluid" />
          <p class="txt-lg">9+</p>
          <small class="txt-light">Nationalities</small>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="hero-card">
          <img src="./assets/images/client.svg" alt="clients" class="img-fluid" />
          <p class="txt-lg">1000+</p>
          <small class="txt-light">Clients serviced</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 mb-5">
        <p class="title">Who you'll be working with</p>
      </div>
      <div class="col-lg-3" *ngFor="let p of people">
        <app-people [people]="p"></app-people>
      </div>
    </div>
  </div>
</section>