footer {
  background: #111111;
  padding: 4rem 5rem;
}

footer p {
  color: #fff;
}

.footer-heading {
  font-weight: 600;
  font-size: 42px;
  margin: 4rem 0 3rem 0;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
}

.column-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

li {
  list-style: none;
  margin-top: 1rem;
}

li a, li a:link, li a:visited, li a:active {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s ease-in;
}

fa-icon.text-white ::ng-deep svg path {
  fill: #fff;
  transition: all ease-in 0.2s;
}

hr {
  border-top: 1px solid #fff;
}

.list-inline-item {
  margin-right: 1rem;
}

.list-inline-item a:hover, li a.link:hover {
  color: #AA182C;
}